
@font-face {
	font-family: NowAlt-Light;
	src: url('../fonts/NowAlt-Light.otf');
}
@font-face {
	font-family: Roboto-Light;
	src: url('../fonts/Roboto-Light.ttf');
}

body{
    background-color: crimson;
}

/* --- Header --- */

#header{
    height: 60px;
    display: flex;
    flex-direction: row;
}
#header:hover{
    transition: 1000ms;
    background: rgba(0, 0, 0, 0.05);
}
#header:not(:hover){
    transition: 1000ms;
    background: transparent;
}

/*left*/
#header > #titleHeader{
    font-family: NowAlt-Light;
    width: 400px;
    text-align: center;
    user-select: none;
    position: relative;
    transform: translateY(-50%);
    top: 60%;
}

/*right*/
#header > nav{
    width: 800px;
}
#header > nav > ul{
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#header > nav li{
    width: 100px;
}
#header > nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Roboto-Light;
}
.headerButton a{
    text-align: center;
    position: relative;
    color: black;
    width: 250px;
    height: 50px;
    font-size: 20px;
    outline: none;
}
.headerButton a span{
    display: block;
    position: relative;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
}
.headerButton a > span:after{
    content:'';
    position: absolute;
    top: 0;
    width: 20px;
    height: 0;
    border: 1px solid crimson;
    border-left: none;
    border-bottom: none;
    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}
.headerButton a:hover > span:after{
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.headerButton a > span:before{
    content:'';
    position: absolute;
    right: 50%;
    width: 20px;
    height: 0;
    border: 1px solid crimson;
    border-right: none;
    border-bottom: none;
    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}
.headerButton a:hover > span:before{
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.headerButton a > span > span > span:after{
    color:black;
    content: attr(data-attr-span);
    width: 0%;
    height: 100%;
    background: crimson;
    white-space: nowrap;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    transition: width 0.2s;
}
.headerButton a:hover > span > span > span:after{
    transition: 300ms;
    width: 100%;
    color: white;
}